<div #viewport class="blox-snippet-page">
  <aside [mdcDrawerContainer]="navControl.drawerType" [(open)]="navControl.open">
    <nav mdcDrawer>
      <div mdcDrawerToolbarSpacer *ngIf="navControl.toolbarSpacer"></div>
      <div mdcDrawerHeader *ngIf="navControl.toolbarHeader">
        <div mdcDrawerHeaderContent>Pages</div>
      </div>
      <div mdcDrawerContent mdcListGroup>
        <nav mdcList>
          <a [routerLink]="item.url" (click)="navControl.toggleDrawer()" mdcListItem *ngFor="let item of favoriteNav">
            <i mdcListItemGraphic class="material-icons" aria-hidden="true">{{item.icon}}</i>{{item.name}}
          </a>
        </nav>
        <hr mdcListDivider>
        <nav mdcList>
          <a [routerLink]="item.url" (click)="navControl.toggleDrawer()" mdcListItem *ngFor="let item of secondaryNav">
            <i mdcListItemGraphic class="material-icons" aria-hidden="true">{{item.icon}}</i>{{item.name}}
          </a>
        </nav>
      </div>
    </nav>
  </aside>
</div>