<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">

    <button mat-icon-button (click)="coreService.toggleDrawer()">
      <mat-icon class="example-icon">menu</mat-icon>
    </button>
    NG SDK

    <span class="example-spacer"></span>


    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="example-icon">settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>Profile
      </button>
      <button mat-menu-item>
        <mat-icon>help_outline</mat-icon>Help
      </button>
      <button mat-menu-item>
        <mat-icon>close</mat-icon>Logout
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="account">
      <mat-icon class="example-icon">account_circle</mat-icon>
    </button>
    <mat-menu #account="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>Profile
      </button>
      <button mat-menu-item>
        <mat-icon>help_outline</mat-icon>Help
      </button>
      <button mat-menu-item>
        <mat-icon>close</mat-icon>Logout
      </button>
    </mat-menu>


  </mat-toolbar-row>
</mat-toolbar>
